
<!-- finish form here  -->
<form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
  <div class="input-group mb-2">
    <span class="input-group-text">First Name</span>
    <input type="text" class="form-control" formControlName="firstname" />
  </div>
  <div class="input-group mb-2">
    <span class="input-group-text">Last Name</span>
    <input type="text" class="form-control" formControlName="lastname">
  </div>
  <div class="input-group mb-2">
    <span class="input-group-text">Phone Number</span>
    <input type="text" class="form-control" formControlName="phonenumber">
  </div>
  <div class="input-group mb-2">
    <span class="input-group-text">Address</span>
    <input type="text" class="form-control" formControlName="address">
  </div>
  <div class="input-group mb-2">
    <span class="input-group-text">Email</span>
    <input type="text" class="form-control" formControlName="email">
  </div>
  <input type="submit" class="btn btn-primary">
</form>
