

<form class="m-3 container" [formGroup]="customerForm" (ngSubmit)="onSubmit()">
  <h2 class="m-2"> Add New Customer</h2>
  <div class="input-group m-3">
    <span class="input-group-text">First Name</span>
    <input type="text" class="form-control" formControlName="firstName" />
  </div>
  <div class="input-group m-3">
    <span class="input-group-text">Last Name</span>
    <input type="text" class="form-control" formControlName="lastName">
  </div>
  <div class="input-group m-3">
    <span class="input-group-text">Phone Number</span>
    <input type="text" class="form-control" formControlName="phoneNumber">
  </div>
  <div class="input-group m-3">
    <span class="input-group-text">Address</span>
    <input type="text" class="form-control" formControlName="address">
  </div>
  <div class="input-group m-3">
    <span class="input-group-text">Email</span>
    <input type="text" class="form-control" formControlName="email">
  </div>
  <input type="submit" class="btn btn-primary m-3">
</form>
